.footer {
    grid-row: 6 / 7;
    grid-column: center-start / center-end;

    text-align: center;
    margin: 8rem 8rem 6rem 6rem;

    &__text {
        margin-top: 8rem;
        line-height: 172%;
        font-size: 1.6rem;
        // letter-spacing: 3%;
        // font-weight: 300;
    }

    &__button {
        border: .3rem solid $color-black;
        padding: 2rem;
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            color: $color-white;
            background-color: black;
        }
    }

    &__icon {
        font-size: 3rem;
        margin-top: 1rem;
    }

}