.projects {
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
    margin-bottom: 6rem;
}

.project {
    width: 85rem;
    height: 26.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
    border-radius: 1.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 4px 6px 25px rgba(0, 0, 0, 0.25);

    &__img {
        width: 55%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 2.8rem;
        
    }

    &__title {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.8rem;
    }

    &__tags {
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-weight: 350;
        font-size: 1.2rem;
        margin-bottom: 1.8rem;
        color: $color-grey-light;
    }

    &__descript {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding-right: 3rem;

    }

    &__button {
        display: flex;
        font-weight: 400;
        color: white;
        cursor: pointer;
        margin-top: 2.5rem;
        width: 18rem;
        height: 5rem;
        font-size: 1.6rem;
        border-radius: 3rem;
        text-decoration: none;
        background-color: $color-grey-dark;
        border: 0;
        font-family: $font-primary;
        justify-content: center;
        align-items: center;


    }


}