*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: black;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem min-content min-content min-content min-content;
      grid-template-rows: 8rem -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: 8rem min-content min-content min-content min-content;
  -ms-grid-columns: [full-start] minmax(25rem, 1fr) [center-start] ([col-start] minmax(min-content, 10.475rem) [col-end])[8] [center-end] minmax(25rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(25rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10.475rem) [col-end]) [center-end] minmax(25rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(25rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10.475rem) [col-end]) [center-end] minmax(25rem, 1fr) [full-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    -ms-grid-columns: [full-start] minmax(15rem, 1fr) [center-start] ([col-start] minmax(min-content, 10.475rem) [col-end])[8] [center-end] minmax(15rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(15rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10.475rem) [col-end]) [center-end] minmax(15rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(15rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10.475rem) [col-end]) [center-end] minmax(15rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-columns: [full-start] minmax(10rem, 1fr) [center-start] ([col-start] minmax(min-content, 10.475rem) [col-end])[8] [center-end] minmax(10rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10.475rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10.475rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] ([col-start] minmax(min-content, 10.475rem) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10.475rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10.475rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  }
}

.indent {
  margin-left: 3rem;
}

a {
  color: black;
}

.center-heading {
  margin-top: 8rem;
  text-align: center;
  font-size: 2rem;
  line-height: 26.4px;
  color: #C9DCED;
}

.center-text {
  text-align: center;
}

.domino-blue {
  color: blue;
}

.margin-top-s {
  margin-top: 4rem;
}

ol {
  margin-left: 5rem;
}

.margin-less {
  margin-bottom: -1rem;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  font-size: 1.5rem;
  background-color: white;
  border-bottom: solid 0.5px #b1b1b1;
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.15em;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}

.nav__link {
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 5rem;
  color: black;
  padding-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

@media only screen and (max-width: 50em) {
  .nav__link {
    margin-left: 2rem;
  }
}

.nav__link:hover {
  color: #e82649;
}

.nav__link:hover:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 65%;
  padding-top: .5rem;
  border-bottom: 1px solid #e82649;
}

.nav__link .active {
  color: #e82649;
}

.nav__link .active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 65%;
  padding-top: .5rem;
  border-bottom: 1px solid #e82649;
}

.blank {
  background-color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  border-bottom: solid 0.5px #b1b1b1;
}

.active {
  color: #e82649;
}

.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 65%;
  padding-top: .5rem;
  border-bottom: 1px solid #e82649;
}

.dropbtn {
  border: none;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-style: "Lato", sans-serif;
}

.dropdown {
  cursor: pointer;
  margin-top: -.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: solid 0.25px #dcdcdc;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #e82649;
}

.nav__logo a {
  text-decoration: none;
  border: none;
}

.header {
  grid-column: center-start / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 10rem 0;
}

.header__hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hello-text {
  color: black;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 5rem;
}

.header__hello-line {
  width: 100%;
  height: 1px;
  background: #C86A4E;
}

.header__main-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 145.5%;
  margin-bottom: 2rem;
}

.pink {
  color: #e82649;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  text-align: center;
  margin: 10rem 0 5rem 0;
}

.footer__text {
  margin-top: 8rem;
  line-height: 172%;
  font-size: 1.6rem;
}

.footer__button {
  border: 0.3rem solid black;
  padding: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
}

.footer__button:hover {
  color: white;
  background-color: black;
}

.footer__icon {
  font-size: 3rem;
  margin-top: 1rem;
}

.projects {
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-bottom: 6rem;
}

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14rem;
  background-color: white;
}

.project__content {
  width: 90%;
  height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #dcdcdc;
  margin-left: 10%;
}

@media only screen and (max-width: 50em) {
  .project__content {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

.project__img {
  width: 55%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  border: solid 1px #dcdcdc;
}

@media only screen and (max-width: 50em) {
  .project__img {
    width: 80%;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.project__text {
  -webkit-transform: translateX(-12.5%);
          transform: translateX(-12.5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .project__text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    text-align: center;
    -webkit-transform: translateY(-17.5%);
            transform: translateY(-17.5%);
    width: 80%;
  }
}

.project__title {
  letter-spacing: .5px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.project__tags {
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
  color: #7a7a7a;
}

.project__descript {
  letter-spacing: .2px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  padding-right: 3rem;
}

@media only screen and (max-width: 50em) {
  .project__descript {
    text-align: center;
    padding-right: 0;
  }
}

.project__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  color: #373737;
  cursor: pointer;
  margin-top: 2.5rem;
  width: 100%;
  padding: 1rem 0;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: #C9DCED;
  border: 0;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.project__button-piazza {
  color: white;
  background-color: #3B4E5D;
}

.project__button-bash {
  color: white;
  background-color: #666666;
}

.project__button-avda {
  color: white;
  background-color: #425156;
}

.iconify {
  font-size: 1.55rem;
  margin-left: 1rem;
  position: absolute;
  right: 1rem;
}

.casestudy__banner {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
}

.casestudy__content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
  margin-bottom: 6rem;
}

.casestudy__title {
  margin-top: 6rem;
  font-size: 5rem;
  font-weight: 500;
}

.casestudy__title-descript {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.casestudy__info {
  color: #4f4f4f;
  font-size: 1.6rem;
  margin-top: 6rem;
  line-height: 151.3%;
}

.casestudy__subtitle {
  margin-top: 6rem;
  font-size: 2.4rem;
}

.casestudy__text {
  margin-top: 2rem;
  font-size: 1.8rem;
  letter-spacing: 3%;
  line-height: 2.7rem;
  font-weight: 300;
  color: black;
}

.casestudy__subtext {
  margin-top: .5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 132%;
  color: #7a7a7a;
}

.casestudy__video {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}

.casestudy__gif {
  border: solid 1px #7a7a7a;
}

.casestudy__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  width: 70%;
  height: auto;
}

.casestudy__img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.6rem;
}

.casestudy__img-row-ab {
  display: -ms-grid;
  display: grid;
  margin: 0 1rem;
  width: 30%;
}

.casestudy__img-full {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

.casestudy__personas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.casestudy__persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.casestudy__persona-img {
  width: 10rem;
  height: auto;
}

.casestudy__persona-text {
  margin-left: 3rem;
  font-weight: 300;
  font-size: 1.8rem;
}

.teamthanks {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #dcdcdc;
  z-index: 20;
  margin: 5.5rem 0;
}

.teamthanks__thanks {
  font-size: 1.8rem;
  letter-spacing: 0.01em;
}

.teamthanks__members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  text-align: left;
  margin-top: 4.6rem;
}

.teamthanks__member-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.teamthanks__member-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.teamthanks__member-name {
  color: #e82649;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.teamthanks__member-position {
  color: black;
  font-style: bold;
  font-size: 1.8rem;
  margin-bottom: .7rem;
}

.teamthanks__member-tasks {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 132%;
}

.teamthanks-blank {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  background-color: #dcdcdc;
}

.banner {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  margin-top: 2rem;
  display: block;
  margin: 0 auto;
}

.about__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11rem 0 11rem 0;
}

.about__img {
  width: 19.5rem;
  height: 29.9rem;
}

.about__info {
  margin-left: 8rem;
}

.about__text {
  line-height: 134%;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
}

.about__header {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.about__skills {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about__skill--header {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.about__skill {
  margin-left: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  list-style-type: circle;
  margin-bottom: .5rem;
}
/*# sourceMappingURL=main.css.map */